
/* Your CSS Code here. */

.main{
    width: 200px;
    padding: 10px;
    background-color: purple;
    border-left-width: 7px;
    border-left-style: solid;
    border-left-color: green;
    font-size: 20px;    
}

.heading{
    color: white;
    font-size: 20px;
    text-decoration: underline;
}